@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

#demo {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 999px;
}
* {
    box-sizing: border-box;
}
:root {
    --default-font: 'Quicksand', sans-serif;
    --display-font: 'Fredoka One', sans-serif;
    --light-theme-color: #9299f0;
    --med-theme-color: #7279e4;
    --deep-theme-color: #585fc7;
    --dark-theme-color: #09172F;
    --med-accent-color: #FF8772;
}
html, body {
    font-family: var(--default-font);
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
#root {
    width: 100%;
    height: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
label {
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
    display: block;
    text-align: left;
    line-height: 0.7rem;
    margin-bottom: 0.5rem;
    user-select: none;
}
.smol {
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
}
input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
}
input[type=submit], button, input[type=range] {
    cursor: pointer;
}
input[type=text], input[type=password], input[type=number], input[type=date] {
    border: 1px solid #ddd;
    padding: 0 0.5rem;
    overflow: visible;
}
input:disabled {
    cursor: not-allowed;
}
input:not([type=submit]):not([type=range]) {
    display: block;
    width: 100%;
    height: 3rem;
}
input:not([type=submit]):focus {
    border-color: var(--med-theme-color);
}
/* input[type=text], input[type=password], input[type=number], input[type=date] {
    border: 0;
    padding: 0 0.5rem;
    line-height: 3rem;
    overflow: visible;
}
input:not([type=submit]) {
    display: block;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 2px solid var(--med-theme-color);
} */
form li {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    list-style: none;
    place-items: center;
    padding: 0;
    margin-bottom: 0.5rem;
}
li .numBubble {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    color: #666;
}
.padme {
    padding: 2rem;
}
input[type=submit], button {
    border: 0;
    background: var(--med-theme-color);
    font-weight: bold;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border-radius: 999px;
}
button.secondary {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}
button.greyed {
    background: #aaa;
}
button.stealth {
    color: inherit;
    background: 0;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
}
button, a {
    transition: 0.2s;
}
a, a:visited, button.link {
    font-weight: bold;
    color: var(--med-theme-color);
    text-decoration: none;
    border-radius: 0;
}
a:hover, button.link:hover {
    color: var(--light-theme-color);
}
.App {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--dark-theme-color);
    overflow: hidden;
}
.cornerButton {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    padding: 0.7rem 1.5rem;
    border-radius: 999px;
    background: #eee;
    color: #888;
}
.Guest {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 350px;
    padding: 4rem;
}
.Guest input {
    margin-bottom: 1rem;
}
.Signup input:not([type=submit]) {
    line-height: 2.5rem;
}
.Dashboard {
    display: grid;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        'logo header user'
        'sidebar main nav';
    line-height: 1.5rem;
}
.Logo, .Header, .User {
    background: var(--med-accent-color);
    color: var(--dark-theme-color);
    padding: 2rem;
}
.Logo {
    grid-area: logo;
    text-align: center;
    font-family: var(--display-font);
    font-size: 1.5rem;
    text-shadow: -0.1rem 0.1rem 0 #fff;
    padding: 1rem 2rem 1rem 3rem;
}
.Logo img {
    width: auto;
    height: 3.5rem;
}
.Header {
    grid-area: header;
}
.Header h1 {
    margin: 0;
}
.User {
    grid-area: user;
    text-align: right;
    display: flex;
}
.Sidebar, .Main, .Nav {
    padding: 2rem;
}
.Sidebar {
    grid-area: sidebar;
    color: #fff;
    padding-left: 3rem;
}
.Main {
    grid-area: main;
}
.Nav {
    grid-area: nav;
}
.Nav button {
    display: block;
    min-width: 10rem;
    text-align: left;
    text-transform: uppercase;
    color: var(--light-theme-color);
}
.Nav button + button {
    margin-top: 1rem;
}




.SidebarOLD {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background: var(--med-theme-color);
    padding: 2rem;
    overflow: hidden;
    color: #fff;
}
.Topbar {
    padding: 0 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
}
.Window {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    overflow: auto;
}
.ViewStudent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 250px;
}
.ViewStudent > div {
    padding: 2rem;
}
.viewStudentHeader {
    display: flex;
    justify-content: space-between;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.viewStudentHeader h1 {
    margin-bottom: 0;
}
.viewStudentHeader button {
    font-size: 1.5rem;
    color: var(--deep-theme-color);
    transition: color 0.2s;
    margin-left: 1rem;
}
.viewStudentHeader button:hover {
    color: var(--light-theme-color);
}
.viewStudentSidebar {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    border-left: 1px solid #ddd;
}
.viewStudentHomework {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    border-top: 1px solid #ddd;
    overflow: auto;
}
.avatarContainer {
    font-size: 0;
    line-height: 0;
    background: var(--med-accent-color);
    padding: 0.5rem;
    border-radius: 999px;
    margin: 0 auto 2rem;
    position: relative;
}
.avatarContainer::before {
    content: '';
    display: block;
    width: 0.5rem;
    height: 2rem;
    background: inherit;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -0.25rem;
}
.studentAvatar {
    width: 14rem;
    height: 14rem;
    padding: 2rem;
    background: #fff;
    border: 3px solid var(--dark-theme-color);
    border-radius: 999px;
}
.StudentCoins, .studentCoins {
    display: grid;
    column-gap: 0.5rem;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr auto;
}
.coinsIcon {
    display: flex;
    align-self: center;
    justify-self: end;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.coinsIcon img {
    width: auto;
    height: 2rem;
}
.coinsCount {
    display: flex;
    align-self: center;
    justify-self: start;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-weight: bold;
}
.editCoinsButton {
    display: flex;
    align-self: center;
    grid-row: 1 / 2;
    grid-column: 3 / -1;
}
.StudentCoins button + button {
    margin-left: 0.5rem;
}
.confirmChangesButton {
    margin-top: 0.5rem;
    display: flex;
    justify-self: center;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
}
.teacherCode {
    text-align: center;
    margin-top: 2rem;
}
.Exp .ExpHeader {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    user-select: none;
    cursor: pointer;
}
.Exp .ExpHeader::before {
    content: '\f055';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: inherit;
    color: var(--deep-theme-color);
    padding-right: 0.5rem;
}
.Exp .ExpMain {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
}
.Exp.anded .ExpHeader::before {
    content: '\f056';
}
.addHomeworkForm {
    text-align: center;
}
.addHomeworkForm h2 {
    text-align: left;
    margin-bottom: 2rem;
}
.addHomeworkFform label {
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #ccc;
}
.addHomework {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 1rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        'date headline'
        'assignments assignments';
    margin-bottom: 0.5rem;
}
.addHomework .addHomeworkDate {
    grid-area: date;
}
.addHomework .addHomeworkHeadline {
    grid-area: headline;
}
.addHomework .addHomeworkAssignments {
    grid-area: assignments;
}
.Homework {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'header'
        'body';
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
}
.Homework + .Homework {
    margin-top: 2rem;
}
.Homework .Header {
    background: #f7f7f7;
    padding: 0.5rem 1rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
.Homework .Body {
    padding: 1rem;
}
.Homework h3 {
    margin-bottom: 0;
}
.Homework span.date {
    font-size: 0.8rem;
}
.Homework .Header div.options {
    position: relative;
    display: flex;
    align-content: center;
}
.Homework .Header div.options > button {
    font-size: 1.5rem;
    color: #aaa;
}
.Homework .Header div.options > button:hover {
    color: #666;
}
.Homework ol {
    margin: 0;
}
.Homework ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.Homework li {
    width: 100%;
}
.Homework li > div {
    display: inline-block;
    width: 50%;
    padding: 0.2rem;
}
.Homework ul div.label {
    margin-right: -40px;
}
.Homework ul div.progress {
    margin-left: 40px;
}
.Homework input[type=range] {
    display: inline-block;
    vertical-align: middle;
}
.Homework .coinsEarned {
    display: inline-flex;
    vertical-align: middle;
    place-items: center;
    margin-left: 0.5rem;
    color: #aaa;
    cursor: pointer;
}
.Homework .coinsEarned .coinIcon {
    height: 1rem;
    margin-right: 0.2rem;
    margin-left: 0.5rem;
    filter: grayscale(100%);
}
.Homework .coinsEarned.coinsAdded {
    color: inherit;
    cursor: default;
}
.Homework .coinsEarned.coinsAdded .coinIcon {
    filter: none;
}
.Loading {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
}
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
}
.modalContainer {
    display: grid;
    height: 100%;
    padding: 2rem 0;
}
.modalContent {
    width: 55%;
    min-width: 300px;
    background: #fff;
    padding: 2.5rem;
    border-radius: 1rem;
    position: relative;
    margin: auto;
}
.Modal button.exit {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: #666;
}
.MiniMenu {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 1rem;
    display: inline-block;
    white-space: pre;
    padding: 0 0.5rem;
}
.MiniMenu button {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    padding: 0.5rem;
    padding-left: 1.5rem;
    color: #666;
    font-weight: 600;
}
.MiniMenu button:hover {
    color: #aaa;
}
.MiniMenu button + button {
    border-top: 1px solid #eee;
}
.MiniMenu button span {
    display: inline-block;
    vertical-align: middle;
}
.MiniMenu button::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 0.75em;
    padding-left: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}
.MiniMenu button.edit::after {
    content: '\f304';
}
.MiniMenu button.delete::after {
    content: '\f1f8';
}
.Homework .MiniMenu {
    top: 0;
    right: calc(100% + 0.5rem);
}
.Homework .progress button {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3rem;
    color: var(--deep-theme-color);
}
.Homework .progress button.disabled {
    cursor: not-allowed;
    color: #aaa;
}
.ProgressBar {
    display: inline-block;
    vertical-align: middle;
    width: 8rem;
    height: 0.5rem;
    margin: 0 0.5rem;
    background: #eee;
    border-radius: 999px;
}
.ProgressBar .bar {
    background: var(--deep-theme-color);
    height: 100%;
    border-radius: 999px;
}
.StudentSidebar h2 {
    text-align: center;
    text-shadow: 2px 2px 0 var(--deep-theme-color);
}
.StudentSidebar .studentCoins {
    grid-template-columns: auto auto;
}