@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes mobileNavFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes popOut {
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes check {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes checkmark-shrink {
    100% {
        opacity: 0;
        transform: rotate(45deg) scale(0);
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

* {
    box-sizing: border-box;
}
:root {
    --default-font: 'Quicksand', sans-serif;
    --display-font: 'Fredoka One', sans-serif;
    --light-theme-color: #9299f0;
    --med-theme-color: #7279e4;
    --deep-theme-color: #585fc7;
    --dark-theme-color: #09172F;
    --light-accent-color: #eeeeee;
    --med-accent-color: #FF8772;
    --deep-accent-color: #fc6f56;
    --caution: #ad1b1b;
    --deep-caution: #ad1b1b;
    --great-success: #0f8604;
    --input-bg: #222F44;
    --input-disabled-bg: #1f2836;
    --mobile-avatar-size: 25vh;
}
html, body {
    font-family: var(--default-font);
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
h1 {
    line-height: normal;
}
a, a:visited, button.link, button.stealth.link {
    font-weight: bold;
    color: var(--light-theme-color);
    text-decoration: none;
    border-radius: 0;
    transition: 0.2s;
}
a:hover, button.link:hover {
    color: var(--med-theme-color);
}
hr {
    border: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 60%;
    height: 1px;
    margin: 2rem auto;
}
@media (max-width: 900px) {
    h1 {
        font-size: 1.7rem;
        line-height: 1.1;
    }
    h2 {
        font-size: 1.3rem;
    }
}

/* UTILS */
.padme {
    padding: 2rem;
}
.nowrap {
    display: inline-block;
    white-space: nowrap;
    padding: 0 0.15em;
}
.smol {
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.tip {
    color: #666;
    font-size: 0.8rem;
}
.goodbye, Menu.goodbye /* shrinking effect when deleting wearable or badge */ {
    transform-origin: center;
    transform: scale(0.7);
    opacity: 0;
}
button.stealth {
    color: inherit;
    background: 0;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.noneFound {
    width: 100%;
    color: #B9BCDD;
    font-weight: bold;
    font-size: 1.5rem;
}
.flag--new::after {
    content: 'NEW';
    position: absolute;
    top: 0.5rem;
    right: -0.5rem;
    background: var(--caution);
    font-size: 0.6rem;
    line-height: 1.6;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}
.center {
    text-align: center;
}

/* FORMS - LABELS, INPUTS, BUTTONS */
form div.half {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.5rem)); /* annoying that grid gap isn't included in total width */
    column-gap: 1rem;
    margin-bottom: 1.5rem;
}
form.hasImage {
    display: grid;
    grid-template: auto 1fr auto / 1fr auto;
    grid-template-areas:
        'title title'
        'content image'
        'buttons buttons';
    column-gap: 1rem;
}
form.hasImage p:last-of-type {
    margin: 0;
}
form.hasImage h2 {
    grid-area: title;
}
form.hasImage > div:first-of-type {
    grid-area: content;
}
form.hasImage > img, form.hasImage > svg {
    grid-area: image;
    max-width: 5rem;
    height: auto;
}
form.hasImage > div:last-of-type {
    grid-area: buttons;
}
label {
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
    display: block;
    text-align: left;
    line-height: 0.7rem;
    margin-bottom: 0.5rem;
    user-select: none;
}
input + label, span + label, div + label {
    margin-top: 1.5rem;
}
input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    transition: 0.2s;
}
input[type=submit], button, input[type=range] {
    cursor: pointer;
}
input[type=color] {
    width: 2rem;
    height: 2rem;
    background: #fff;
    border: 0;
}
input[type=text], input[type=number], input[type=password], input[type=date] {
    background: var(--input-bg);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    color: #fff;
    padding: 0 0.7rem;
    overflow: visible;
    display: block;
    width: 100%;
    height: 3rem;
}
input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, input[type=date]:focus {
    border-color: var(--med-theme-color);
}
input[type=submit], button {
    border: 0;
    background: var(--deep-theme-color);
    font-weight: bold;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border-radius: 999px;
    line-height: 1.5rem;
}
input:disabled {
    cursor: not-allowed;
    background: var(--input-disabled-bg);
}
input[type=text]:disabled {
    color: #aaa;
}
input[type=submit]:disabled, button:disabled {
    background: var(--input-bg);
    cursor: not-allowed;
}
span.error {
    color: var(--caution);
    display: block;
    font-weight: 500;
    font-size: 0.8rem;
}
span.error::before {
    content: '\f071';
    font: 900 1em 'Font Awesome 5 Free';
    margin-right: 0.2rem;
}
button.secondary {
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
}
button.greyed {
    background: #aaa;
}
.buttons {
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
button.add::before {
    content: '\f067';
    font: 900 1em 'Font Awesome 5 Free';
}
@media (max-width: 900px) {
    form div.half {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .buttons button {
        padding: 0.3rem 1rem;
    }
}

code {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0 0.2rem;
    letter-spacing: -0.02rem;
}
details summary {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #333;
    outline: none;
}
details .errorDetails {
    white-space: pre-line;
    word-wrap: break-word;
    display: block;
    padding: 0.2rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    max-height: 6rem;
    overflow: auto;
}
details .errorDetails code {
    font-size: 0.7rem;
    line-height: 1rem;
    display: block;
}
details .errorDetails code.greyed {
    color: #666;
}
details .errorDetails code + code.greyed {
    margin-top: 0.5rem;
}

#root {
    width: 100%;
    height: 100%;
}
.App {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--dark-theme-color);
    overflow: hidden;
}