.ContextMenu {
    position: fixed;
    z-index: 999;
    background: #fff;
    padding: 0.3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    animation: 0.2s popOut 1;
    transition: 0.2s;
    transform-origin: top right;
}
.ContextMenu.goodbye {
    transform-origin: center;
}
.ContextMenu button {
    margin: 0;
    background: 0;
    border: 0;
    padding: 0 0.5rem;
    padding-right: 2rem;
    display: block;
    width: 100%;
    text-align: left;
    color: #666;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.9rem;
    transition: 0.2s;
    border-radius: 0.5rem;
}
.ContextMenu button + button {
    margin-top: 0.2rem;
}
.ContextMenu button:hover {
    color: #fff;
    background: var(--med-theme-color);
}
.ContextMenu li + li {
    border-top: 1px solid #ddd;
}
.ContextMenu.editdelete button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
}
.ContextMenu.editdelete button::after {
    font: 900 0.8em 'Font Awesome 5 Free';
    margin-left: 1.5rem;
}
.ContextMenu.editdelete button:first-of-type::after {
    content: '\f304';
}
.ContextMenu.editdelete button:last-of-type::after {
    content: '\f1f8';
}