.ViewingStudents {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}
.ViewingStudents .Avatar {
    border: 0;
    padding: 0;
}
.ViewingStudents .Avatar .avatarBox {
    margin: auto;
}
.ViewingStudents button {
    flex: 0 1 33%;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    background: #fff;
    color: #666;
    position: relative;
    overflow: hidden;
}
.ViewingStudents button div.banner {
    position: absolute;
    bottom: 0;
    background: var(--deep-theme-color);
    padding: 0.5rem 1rem;
    color: #fff;
    width: 100%;
}