.ViewingStudent {
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    position: relative;
    padding: 2rem;
    padding-right: 4rem;
}
.ViewingStudent .ControlPanel {
    position: sticky;
    top: 0;
}
.ViewingStudent .HomeworkContainer {
    flex: 1;
}
.ViewingStudent .Homework {
    padding-bottom: 3rem;
}
.ViewingStudent .ViewingStudentSidebar {
    position: sticky;
    top: 0;
}