.StudentOverview {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.StudentOverview .Avatar {
    border: 0;
    padding: 0;
}
.StudentOverview .Avatar .avatarBox {
    margin: auto;
}
.StudentOverview button {
    flex: 0 1 30%;
    border-radius: 1rem;
    padding: 0;
    padding-bottom: 3rem;
    margin: 0;
    background: #fff;
    color: #666;
    position: relative;
    overflow: hidden;
}
.StudentOverview button div.banner {
    position: absolute;
    bottom: 0;
    background: var(--deep-theme-color);
    padding: 0 0.5rem;
    font-size: 0.9rem;
    line-height: 1.2;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 3rem;
    transition: 0.2s;
    overflow: hidden;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.5);
}
.StudentOverview button:hover div.banner {
    max-height: 100%;
    justify-content: start;
    padding-top: 1.5rem;
}
.StudentOverview .StudentInfo {
    animation: 0.2s popOut 1;
    width: 100%;
    padding: 0 1rem;
    font-size: 0.8rem;
}
.StudentOverview .StudentInfo hr {
    margin: 1rem auto;
}
.StudentOverview .StudentInfo img.profilePic {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    float: right;
    border: 2px solid #fff;
    border-radius: 999px;
    background: linear-gradient(135deg, var(--light-theme-color), var(--med-accent-color));
}
.StudentOverview .StudentInfo > div {
    text-align: left;
    font-weight: normal;
}
.StudentOverview .StudentInfo > div + div {
    margin-top: 1rem;
}
.StudentOverview .StudentInfo strong {
    font-size: 0.7rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.2rem;
    text-align: left;
}
.StudentOverview .Stats {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.StudentOverview .Stat img {
    height: 1.3rem;
}