.Guest {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: #fff;
    overflow: hidden;
}
.Guest > div {
    padding: 3rem;
}
.Guest > div:first-of-type {
    background: var(--med-accent-color);
    text-align: right;
}
.Guest > div:first-of-type img {
    width: 80%;
}
.Guest > div:nth-of-type(2) {
    background: var(--dark-theme-color);
    overflow: auto;
}
@media (max-width: 900px) {
    .Guest {
        grid-template: 12.5% 1fr / 100%;
    }
    .Guest > div:first-of-type {
        text-align: center;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Guest > div:first-of-type img {
        width: auto;
        height: 70%;
    }
    .Guest > div:nth-of-type(2) {
        padding: 2rem;
    }  
}
@media (max-width: 600px) {
    .Guest > div:first-of-type img {
        height: 100%;
    }
}