/* MANAGE WEARABLES */
.wearableForm .Dropdown > * {
    line-height: 2;
}
.wearableForm .checkboxContainer {
    margin-top: 0.7rem;
}

/* MANAGE WEARABLES DRAG&DROP PREVIEWBOX */
.wearableForm {
    display: grid;
    grid-template-columns: 1fr calc(14rem + 2px); /* +2px to account for 1px border */
    column-gap: 1.5rem;
}
.wearableForm .wearableImage {
    margin-bottom: 1rem;
}
.wearableForm .previewBox {
    border: 1px solid #ddd;
}
.wearableForm .previewBox > div {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
}
.wearableForm .previewBox > div .previewBase {
    width: 100%;
    height: 100%;
}
.wearableForm .previewBox > div .draggable {
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
}
.wearableForm .previewBox > div .draggable.dragging {
    cursor: grabbing;
}
.wearableForm input[type=range] {
    margin: 0.5rem auto 0;
    display: block;
}
.wearableForm .gradientInput {
    display: flex;
    justify-content: space-between;
}
.wearableForm .gradientInput .Input:first-of-type {
    flex: 0 1 auto;
    margin-right: 1rem;
}
@media (max-width: 900px) {
    .wearableForm {
        grid-template: auto auto / 100%;
        row-gap: 1.5rem;
    }
    .wearableForm .wearableImage {
        width: calc(14rem + 2px);
        margin: 0 auto 1rem;
    }
}

/* MANAGE COLOR */
.manageColor {
    display: grid;
    grid-template: 'colorPicker name cost' 100% / auto 1fr auto;
    align-items: center;
    margin-top: 1.5rem;
    column-gap: 1rem;
}
.colorPicker {
    grid-area: colorPicker;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
.manageColor > .Input {
    grid-area: name;
}
.manageColor > .Input + .Input {
    grid-area: cost;
}
.colorPicker > input,
.colorPicker > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.colorPicker > span {
    cursor: pointer;
}
.manageColorForm .checkboxContainer {
    margin-top: 1rem;
}
.manageColorForm .tip {
    margin-top: 0.5rem;
}
@media (max-width: 900px) {
    .manageColor {
        grid-template:
            'name name'         auto
            'colorPicker cost'  1fr / auto 1fr;
        row-gap: 0.7rem;
    }
    .manageColor .Input label {
        margin-bottom: 0.3rem;
    }
}